html {
  font-size: 10px;
  background: #c2e59c;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #64b3f4, #c2e59c);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #64b3f4, #c2e59c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
}

body,html {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
}

.keys {
  display: grid;
  grid-template-columns: auto auto auto;
  min-height: 40vh;
  align-items: center;
  justify-content: center;
}

.key {
  border: .4rem solid black;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: black;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
  font-family: Helvetica;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: black;
}

#title {
  font-size: 100px;
  font-style: italic;
  text-align: center;
  margin-bottom: 50px;
}

h3 {
  margin-top: 30px;
  text-align: center;
}